/* Google Fonts
font-family: 'Tangerine', cursive; //animeHead
font-family: 'Alfa Slab One', cursive; //HANGMAN
font-family: 'Sirin Stencil', cursive; //Everything else
*/



body {
    color: white;
}
h3 {
    font-family: 'Tangerine', cursive; 
    font-size: 100px;
    text-decoration: underline;
}
h4 {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}
#background {
    background-color:black;
    background-size: 100%;


}

#header {
    font-family: 'Alfa Slab One', cursive; 

    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;

    font-size: 150px;
    text-align: center;
}

#animeHead {
    font-family: 'Tangerine', cursive;
    text-align: center;
    color: blue;
    letter-spacing: 20px;
    font-size: 175px;
    font-style: oblique;
    position: absolute;
    z-index: 100;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 
}

.nameOfAnime {
    padding-left: 10px;
    padding-right: 15px;
    background: rgba(0 ,0 ,0, .5);
}

#contentBox {
    font-family: 'Sirin Stencil', cursive;
    font-size: 30px;
    margin-bottom: 30px;
   
}

#colLeft {
    border: 7px double white;
    background: rgba(0 ,0 ,0, .5);
}

.title {
    margin-left: 20px;
    font-size: 25px;
}
.synopsis {
    margin-left: 20px;
    font-size: 16px;
    margin-right: 10px;
}
.characters {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

#colRight{
    border: 7px double white; 
    text-align: center;
    background: rgba(0 ,0 ,0, .5);
}

#word {
    font-size: 30px;
    padding: 0px 25px;
}
p {
    width: 15px;
    margin: 0px 6px;
    visibility: hidden;
    padding-right: 10px;
    
    
}
.letterBox {
    display: inline-block;
    margin: 0px 5px;
    border-bottom: 3px solid white;
}
.space {
    display: inline-block;
    border: none;
}

.correct {
    visibility: visible;
}
