/* Google Fonts
font-family: 'Tangerine', cursive; //animeHead
font-family: 'Alfa Slab One', cursive; //HANGMAN
font-family: 'Sirin Stencil', cursive; //Everything else
*/

/* * {
    border: 1px solid white;
} */

body {
    color: white;
}
#background {
    background-color:black;
}

#header {
    font-family: 'Alfa Slab One', cursive; 
    /* text-shadow: 3px 2px 0px rgba(255, 255, 255, 0.5); */
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;

    font-size: 150px;
    text-align: center;
}

#animeHead {
    font-family: 'Tangerine', cursive;
    text-align: center;
    color: blue;
    letter-spacing: 20px;
    font-size: 175px;
    font-style: oblique;
    position: absolute;
    z-index: 100;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* text-shadow: 3px 2px 0px rgba(255, 255, 255, 0.5); */
}
/* Glyph, by Harry Roberts */

/* hr.style-eight {
    overflow: visible; /*For IE*/
    /* padding: 0;
    border: none;
    border-top: medium double black;
    color: #333;
    text-align: center;

}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em; 
    padding: 0 0.25em; 
    background: white;
} */
#animeName {

}

#contentBox {
    font-family: 'Sirin Stencil', cursive;
    font-size: 30px;
   
}

#colLeft {
    border: 7px double white;

}


#colRight{
    border: 7px double white; 
    text-align: center;
}

#word {
    font-size: 10px;
}
p {
    width: 15px;
    margin: 0px 6px;
    visibility: hidden;

    
}
.letterBox {
    display: inline-block;
    margin: 0px 5px;
    border-bottom: 3px solid white;
}
.space {
    display: inline-block;
    border: none;
}

.correct {
    visibility: visible;
}
